In [2]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.17.3-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.0.5)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.5.0)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (0.23.1)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (0.16.0)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.18.5)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (49.2.0.post20200714)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.2.2)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.24.2->mlxtend) (1.15.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.17.3
Note: you may need to restart the kernel to use updated packages.

### < APRIORI 분석 설명 >

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [5]:
dataset=[['사과','치즈','생수'],
['생수','호두','치즈','고등어'],
['수박','사과','생수'],
['생수','호두','치즈','옥수수']]

In [12]:
type(dataset)

list

In [7]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_) 
#위에서 나온걸 보기 좋게 데이터프레임으로 변경

In [8]:
df

     고등어     사과    생수     수박    옥수수     치즈     호두
0  False   True  True  False  False   True  False
1   True  False  True  False  False   True   True
2  False   True  True   True  False  False  False
3  False  False  True  False   True   True   True

In [ ]:
# 가나다 순으로 Column값을 생성해서(고등어,사과,생수,수박,옥수수,치즈,호두) 
# 첫번쨰 (사과,치즈.생수) 데이터에 고등어가 표시되어이있므면 
# True값으로 없으면 False값으로 표시한다. 
# 다음 사과도 첫번쨰 데이터에 사과가 있으면 1값으로 없으면 0값으로 표시한다.
# 이러한 것을 반복하면 4X7행렬이 생성된다.

In [10]:
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets 
# 지지도를 0.5로 놓고  apriori를 돌려보면 아래와 같이 결과가 출력된다.

   support      itemsets
0     0.50          (사과)
1     1.00          (생수)
2     0.75          (치즈)
3     0.50          (호두)
4     0.50      (생수, 사과)
5     0.75      (생수, 치즈)
6     0.50      (생수, 호두)
7     0.50      (치즈, 호두)
8     0.50  (생수, 호두, 치즈)

In [ ]:
# 예를 들어 설명하면 사과를 살 확률은 0.5 
# (데이터셋 4개중에 2개가 사과가 포함되어있다),
# "치즈,생수"를 같이 살 확률은 0.75인 것 이다.
# (연관분석에 지지도, 신뢰도,항상도,확신도 찾아보면 된다.)

In [11]:
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3) 
# 신뢰도가 0.3인 항목만 보기

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(생수),(사과),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
1,(사과),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
2,(생수),(치즈),1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
3,(치즈),(생수),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
4,(생수),(호두),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
5,(호두),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
6,(치즈),(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
7,(호두),(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
8,"(생수, 호두)",(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
9,"(생수, 치즈)",(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
10,"(치즈, 호두)",(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
11,(생수),"(치즈, 호두)",1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
12,(호두),"(생수, 치즈)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf
13,(치즈),"(생수, 호두)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5

In [ ]:
# 향상도가 1보다 작은경우, 우연적 기회보다 높은 확룰
# 향상도(lift)가 1인 경우, 독립
# 향상도가 1보다 큰 경우, 우연적 기호보다 낮은 확률

In [ ]:
# 8번째 열을 보면 (생수,호두)를 구매한 고객이 (치즈)를 구매할  확률이 
# 높다고 판단 할 수 있음

### < 0. 관련 패키지 준비 >

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

### < 1. 데이터 준비 >

In [31]:
data=pd.read_csv("2015_2019_사고심각도분석용데이터/2015_2019_사고심각도분석용데이터_강원.csv",encoding="cp949")

In [15]:
import re

In [32]:
pick_float=[]
pick_float2=[]

for i in data["피해자연령"]:
    pick_float=re.findall("[0-9.]+",i)
    pick_float2+=pick_float

pick_float3=pd.Series(pick_float2)

pick_float3=pd.Series(pick_float2)
data["피해자연령"]=pick_float3
data["피해자연령"]=pd.to_numeric(data["피해자연령"])

In [ ]:
# 필요한 데이터 행 추출

In [33]:
data_old=data[data["피해자연령"]>=65]

In [35]:
dataset_old=data_old[data_old["피해자종별"]=="보행자"]

In [ ]:
# 데이터 속성 확인

In [23]:
dataset_old["피해자신체상해정도"].unique()

array(['경상', '중상', '사망', '부상신고', '상해없음'], dtype=object)

In [24]:
dataset_old["피해자신체상해주부위"].unique()

array(['얼굴', '발', '팔', '가슴', '목', '대퇴부', '하퇴부', '기타', '허리', '머리', '어깨',
       '배', '손', '상해없음', '등', '뒷목', '앞목', '불명'], dtype=object)

In [25]:
dataset_old["도로형태1"].unique()

array(['단일로', '교차로', '기타/불명', '기타', '불명'], dtype=object)

In [26]:
dataset_old["기상상태"].unique()

array(['맑음', '비', '흐림', '안개', '눈', '기타/불명'], dtype=object)

In [27]:
dataset_old["노면상태"].unique()

array(['건조', '젖음/습기', '서리/결빙', '적설', '기타'], dtype=object)

In [ ]:
# 데이터 속성 전처리

In [37]:
idx_1=dataset_old[dataset_old["피해자신체상해주부위"]=="기타"].index
apriori_dataset=dataset_old.drop(idx_1)

In [38]:
idx_1=dataset_old[dataset_old["피해자신체상해주부위"]=="상해없음"].index
apriori_dataset=dataset_old.drop(idx_1)

In [39]:
idx_1=dataset_old[dataset_old["도로형태1"]=="기타/불명"].index
apriori_dataset=dataset_old.drop(idx_1)

In [40]:
idx_1=dataset_old[dataset_old["기상상태"]=="기타/불명"].index
apriori_dataset=dataset_old.drop(idx_1)

In [41]:
idx_1=dataset_old[dataset_old["노면상태"]=="기타"].index
apriori_dataset=dataset_old.drop(idx_1)

In [ ]:
# 필요한 데이터 열 추출

In [43]:
apriori_old=apriori_dataset[["피해자신체상해정도","피해자신체상해주부위","도로형태1","기상상태","노면상태"]]

In [44]:
apriori_old.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1067 entries, 153 to 39096
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   피해자신체상해정도   1067 non-null   object
 1   피해자신체상해주부위  1067 non-null   object
 2   도로형태1       1067 non-null   object
 3   기상상태        1067 non-null   object
 4   노면상태        1067 non-null   object
dtypes: object(5)
memory usage: 50.0+ KB

### < 2. 데이터 형태 변환 >

In [46]:
apriori_list=apriori_old.values.tolist()
# apriori 분석용 리스트 데이터 형태로 변화

In [58]:
te = TransactionEncoder()
te_ary = te.fit(apriori_list).transform(apriori_list)
# APRIORI 분석용 데이터 형태인 transaction 형태로 변환

df = pd.DataFrame(te_ary, columns=te.columns_)
# 변환 완료 된 데이터 확인

         가슴    건조     경상    교차로     기타  기타/불명      눈    단일로    대퇴부     뒷목  \
0     False  True   True  False  False  False  False   True  False  False
1     False  True   True  False  False  False  False   True  False  False
2     False  True   True  False  False  False  False   True  False  False
3      True  True  False  False  False  False  False   True  False  False
4     False  True   True  False  False  False  False   True  False  False
...     ...   ...    ...    ...    ...    ...    ...    ...    ...    ...
1062  False  True  False  False   True  False  False   True  False  False
1063  False  True  False  False  False  False  False   True  False  False
1064  False  True  False  False  False  False  False   True  False  False
1065  False  True  False   True  False  False  False  False  False  False
1066  False  True   True  False  False  False  False   True  False  False

      ...     앞목     어깨     얼굴     적설  젖음/습기     중상      팔    하퇴부     허리  \
0     ...  False  False   True  False  False  False  False  False  False
1     ...  False  False  False  False  False  False  False  False  False
2     ...  False  False  False  False  False  False   True  False  False
3     ...  False  False  False  False  False   True  False  False  False
4     ...  False  False  False  False  False  False  False  False  False
...   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
1062  ...  False  False  False  False  False   True  False  False  False
1063  ...  False  False  False  False  False   True  False   True  False
1064  ...  False  False  False  False  False   True  False  False  False
1065  ...  False   True  False  False  False   True  False  False  False
1066  ...  False  False  False  False  False  False   True  False  False

         흐림
0     False
1     False
2     False
3     False
4     False
...     ...
1062  False
1063  False
1064  False
1065  False
1066  False

[1067 rows x 34 columns]

### < 3. APRIORI 분석 수행 >

In [ ]:
from mlxtend.frequent_patterns import association_rules
df=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)

In [51]:
frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)
frequent_itemsets
# 지지도 0.01 이상일 경우의 결과 출력

      support                itemsets
0    0.046860                    (가슴)
1    0.899719                    (건조)
2    0.494845                    (경상)
3    0.349578                   (교차로)
4    0.185567                    (기타)
..        ...                     ...
465  0.015933   (머리, 건조, 중상, 맑음, 단일로)
466  0.034677    (단일로, 건조, 발, 맑음, 중상)
467  0.010309   (얼굴, 건조, 중상, 맑음, 단일로)
468  0.038425  (건조, 중상, 맑음, 하퇴부, 단일로)
469  0.014058   (단일로, 건조, 허리, 맑음, 중상)

[470 rows x 2 columns]

In [56]:
df.sort_values(by=['lift'], axis=0, ascending=False)
# df.sort_values(by=['lift'], axis=0, ascending=False).head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
600,"(중상, 비)","(젖음/습기, 단일로)",0.036551,0.044986,0.023430,0.641026,14.249466,0.021786,2.660396
601,"(단일로, 비)","(젖음/습기, 중상)",0.036551,0.045923,0.023430,0.641026,13.958660,0.021752,2.657786
282,"(젖음/습기, 하퇴부)",(비),0.017807,0.068416,0.016870,0.947368,13.847152,0.015651,17.700094
240,"(기타, 젖음/습기)",(비),0.016870,0.068416,0.014995,0.888889,12.992390,0.013841,8.384255
596,"(젖음/습기, 중상, 단일로)",(비),0.027179,0.068416,0.023430,0.862069,12.600378,0.021571,6.753983
266,"(젖음/습기, 단일로)",(비),0.044986,0.068416,0.036551,0.812500,11.875856,0.033473,4.968447
280,"(젖음/습기, 중상)",(비),0.045923,0.068416,0.036551,0.795918,11.633492,0.033409,4.564761
51,(젖음/습기),(비),0.092784,0.068416,0.068416,0.737374,10.777778,0.062068,3.547185
285,"(허리, 비)",(젖음/습기),0.012184,0.092784,0.012184,1.000000,10.777778,0.011053,inf
222,"(경상, 비)",(젖음/습기),0.028116,0.092784,0.028116,1.000000,10.777778,0.025507,inf
575,"(경상, 단일로, 비)",(젖음/습기),0.013121,0.092784,0.013121,1.000000,10.777778,0.011903,inf
241,"(기타, 비)",(젖음/습기),0.014995,0.092784,0.014995,1.000000,10.777778,0.013604,inf
281,"(중상, 비)",(젖음/습기),0.036551,0.092784,0.036551,1.000000,10.777778,0.033160,inf
584,"(중상, 교차로, 비)",(젖음/습기),0.012184,0.092784,0.012184,1.000000,10.777778,0.011053,inf
283,"(하퇴부, 비)",(젖음/습기),0.016870,0.092784,0.016870,1.000000,10.777778,0.015304,inf
552,"(경상, 교차로, 비)",(젖음/습기),0.012184,0.092784,0.012184,1.000000,10.777778,0.011053,inf
267,"(단일로, 비)",(젖음/습기),0.036551,0.092784,0.036551,1.000000,10.777778,0.033160,inf
52,(비),(젖음/습기),0.068416,0.092784,0.068416,1.000000,10.777778,0.062068,inf
236,"(교차로, 비)",(젖음/습기),0.028116,0.092784,0.028116,1.000000,10.777778,0.025507,inf
599,"(중상, 비, 단일로)",(젖음/습기),0.023430,0.092784,0.023430,1.000000,10.777778,0.021256,inf